.container {
  background-color: var(--background);
  /* 背景色指定 */
  width: 40%;
  margin: 0 auto;
  /* 中央に配置 */
}



@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .profbox {
    width: 100%;
  }

}

img {
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.poster {
  /* 画像に枠線をつける */
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--text);
}

.icon {
  text-align: center;
  width: 1em
}



:root {
  --accent: #ff4631;
  --pale: #aaa;
  --faint: #ddd;
  --text: #323232;
  --background: #fff;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

.spaced-table {
  border-spacing: 10px;
  /* セル間のスペースを設定 */
  border-collapse: separate;
  /* セルの境界線を重ねない */
}

/* 行間のない表のスタイル */
.compact-table {
  border-spacing: 0px;
  /* セル間のスペースをゼロに設定 */
  border-collapse: collapse;
  /* セルの境界線を重ねて表示 */
}

th,
td {
  padding: 10px;
  /* デフォルトのパディング */
  vertical-align: top;
  /* セルの内容を上揃えにする */
}

.compact-table th,
.compact-table td {
  padding: 1px 10px 0px 0px;
  /* 上下のパディングをゼロ、左右のパディングを10pxに設定 */
}


h3,
h4,
p,
td,
li,
a {
  font-size: 1em;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
td,
li,
a {
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN", Arial, "メイリオ", sans-serif;
  line-height: 1.5;
  color: var(--text);
  /* テキストの色を指定 */
}

p {
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN", Arial, "メイリオ", sans-serif;
  line-height: 0;
  color: var(--text);
  /* テキストの色を指定 */
}


li {
  margin-bottom: 2em;
}

th,
td {
  padding: 10px 10px 10px 0px;
  vertical-align: top;
  /* セルの内容を上揃えにする */
}

.flex-container {
  display: flex;
  justify-content: right;
  /* リンクを均等に配置 */
}

.flex-container a {
  margin-right: 20px;
  /* 各リンクの右側に20pxの間隔を設定 */
  font-family: "Helvetica Neue";
}

.flex-container a:last-child {
  margin-right: 0;
  /* 最後のリンクの右側の間隔を削除 */
}

a {
  color: var(--text);
  /* リンクの色を指定 */
  text-decoration: none;
  /* リンクの下線を表示 */
}

/* マウスオーバー時のリンクのスタイル */
a:hover {
  color: var(--accent);
  /* マウスオーバー時のリンクの色を指定 */
  text-decoration: none;
  /* マウスオーバー時のリンクの下線を非表示 */
}

ul,
ol {
  margin: 0;
  /* リスト全体のマージンをリセット */
  padding: 0em 1em;
  /* リスト全体のパディングをリセット */
}

.bg {
  background-color: var(--background);
  color: var(--faint);
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid var(--faint)
    /* 枠のスタイルを指定 */
}

.bg:hover {
  background-color: var(--faint);
  /* カーソルを乗せた時の背景色 */
  color: var(--background);
  /* カーソルを乗せた時のテキスト色 */
}

.box {
  padding: 0.5em 1em;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: solid 1px var(--text);
}

.box:hover {
  border-color: var(--accent);
  color: var(--accent);
}

html {
  scroll-behavior: smooth;
}

.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: var(--background);
  border: solid 2px var(--faint);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid var(--faint);
  border-right: 3px solid var(--faint);
  transform: translateY(20%) rotate(-45deg);
}