.container {
  background-color: var(--background); /* 背景色指定 */
}

@media (min-width: 768px) {
  .container {
    width: 40%; /* PCではコンテナの幅を40%に */
    margin: 0 auto; /* 中央に配置 */
  }
}

/* スマートフォン用のスタイル */
@media (max-width: 767px) {
  .container {
    width: 80%; /* スマートフォンではコンテナの幅を80%に */
    margin: 0 auto; /* 中央に配置 */
  }
}



:root{
  --accent : #ff4631; 
  --pale: #aaa;
  --text: #323232;
  --background: #fff;
}

img {
  text-align: center;
  max-width: 100%; /* スマートフォンで画像の幅を100%にする */
  width: 300px; /* PCで画像の幅を300pxにする */
}

.icon{
  text-align: center;
  width: 1em
}
  
  
  
  
h1,h2 {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 1.5;
  color: var(--text); /* テキストの色を指定 */
}

h3, h4, p, td, li, a{
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  color: var(--text); /* テキストの色を指定 */
}


li{
  margin-bottom: 2em;
}


th, td {
  padding: 10px 10px 10px 0px;
  vertical-align: top; /* セルの内容を上揃えにする */
}

.flex-container {
  display: flex;
  justify-content: center; /* リンクを均等に配置 */
}

.flex-container a {
  margin-right: 20px; /* 各リンクの右側に20pxの間隔を設定 */
}

.flex-container a:last-child {
  margin-right: 0; /* 最後のリンクの右側の間隔を削除 */
}

a {
  color: var(--text); /* リンクの色を指定 */
  text-decoration: none; /* リンクの下線を表示 */
}

/* マウスオーバー時のリンクのスタイル */
a:hover {
  color: var(--accent); /* マウスオーバー時のリンクの色を指定 */
  text-decoration: none; /* マウスオーバー時のリンクの下線を非表示 */
}

ul,ol {
margin: 0; /* リスト全体のマージンをリセット */
padding: 0em 1em; /* リスト全体のパディングをリセット */
}


