.container {
  background-color: var(--background); /* 背景色指定 */
  width: 90%;
  margin: 0 auto; /* 中央に配置 */
}

img {
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.poster{/* 画像に枠線をつける */
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--text);
}

.icon{
  text-align: center;
  width: 1em
}


@media (min-width: 500px) {
  .container {
    width: 40%; 
  }
}

:root{
  --accent : #ff4631; 
  --pale: #aaa;
  --faint: #ddd;
  --text: #323232;
  --background: #fff;
}


  
  
  
  
h1,h2 {
  font-size: 1.3em;
  font-weight: bolder;
}

h3, h4, p, td, li, a{
  font-size: 1em;
  font-weight: normal;
}

h1, h2, h3, h4, p, td, li, a {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  line-height: 1.5;
  color: var(--text); /* テキストの色を指定 */
}


li{
  margin-bottom: 2em;
}


th, td {
  padding: 10px 10px 10px 0px;
  vertical-align: top; /* セルの内容を上揃えにする */
}

.flex-container {
  display: flex;
  justify-content: center; /* リンクを均等に配置 */
}

.flex-container a {
  margin-right: 20px; /* 各リンクの右側に20pxの間隔を設定 */
}

.flex-container a:last-child {
  margin-right: 0; /* 最後のリンクの右側の間隔を削除 */
}

a {
  color: var(--text); /* リンクの色を指定 */
  text-decoration: none; /* リンクの下線を表示 */
}

/* マウスオーバー時のリンクのスタイル */
a:hover {
  color: var(--accent); /* マウスオーバー時のリンクの色を指定 */
  text-decoration: none; /* マウスオーバー時のリンクの下線を非表示 */
}

ul,ol {
margin: 0; /* リスト全体のマージンをリセット */
padding: 0em 1em; /* リスト全体のパディングをリセット */
}

.bg {
  background-color: var(--background);
  color: var(--faint);
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid var(--faint) /* 枠のスタイルを指定 */
}

.bg:hover {
  background-color: var(--faint); /* カーソルを乗せた時の背景色 */
  color: var(--background); /* カーソルを乗せた時のテキスト色 */
}

.box {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  border: solid 1px var(--text);
}

.box:hover{
  border-color: var(--accent);
  color: var(--accent);
}



